<!DOCTYPE html>
<html lang="en">
<head>
<title>QuickStore</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>



<app-header></app-header>

<section>
  <app-sidebar></app-sidebar>
  
  <article>
    <h1>QuickStore</h1>
    <p>Online Store!</p>
    <p>This is an online shopping website for super markets and Hypermarkets where you can order products online and collect it offline on a later time at your convenience.which helps to recduce  the time consumed in selecting the product from the hypermarkets</p>
    
  </article>
</section>

<app-footer></app-footer>

</body>
</html>
